client/src/main/resources/AnalyticsWS.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.polytech.unice.fr/castexski/analytics" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AnalyticsWebServiceImplService" targetNamespace="http://www.polytech.unice.fr/castexski/analytics">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/castexski/analytics" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/castexski/analytics" version="1.0">
            <xs:element name="getDailyEmail" type="tns:getDailyEmail"/>
            <xs:element name="getDailyEmailResponse" type="tns:getDailyEmailResponse"/>
            <xs:element name="getPassAnalyticsByDay" type="tns:getPassAnalyticsByDay"/>
            <xs:element name="getPassAnalyticsByDayResponse" type="tns:getPassAnalyticsByDayResponse"/>
            <xs:element name="getVisitAnalyticsByDay" type="tns:getVisitAnalyticsByDay"/>
            <xs:element name="getVisitAnalyticsByDayResponse" type="tns:getVisitAnalyticsByDayResponse"/>
            <xs:complexType name="getDailyEmail">
                <xs:sequence>
                    <xs:element name="day" type="xs:int"/>
                    <xs:element name="month" type="xs:int"/>
                    <xs:element name="year" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getDailyEmailResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getPassAnalyticsByDay">
                <xs:sequence>
                    <xs:element name="day" type="xs:int"/>
                    <xs:element name="month" type="xs:int"/>
                    <xs:element name="year" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getPassAnalyticsByDayResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:analyticsPass"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="analyticsPass">
                <xs:sequence>
                    <xs:element name="counter" type="xs:int"/>
                    <xs:element name="dayOfMonth" type="xs:int"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="month" type="xs:int"/>
                    <xs:element minOccurs="0" name="passType" type="tns:passType"/>
                    <xs:element name="year" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getVisitAnalyticsByDay">
                <xs:sequence>
                    <xs:element name="day" type="xs:int"/>
                    <xs:element name="month" type="xs:int"/>
                    <xs:element name="year" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getVisitAnalyticsByDayResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:analyticsVisit"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="analyticsVisit">
                <xs:sequence>
                    <xs:element name="counter" type="xs:int"/>
                    <xs:element name="dayOfMonth" type="xs:int"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="month" type="xs:int"/>
                    <xs:element minOccurs="0" name="skiLiftName" type="xs:string"/>
                    <xs:element name="year" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="passType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CLASSIC"/>
                    <xs:enumeration value="WEEK"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDailyEmail">
        <wsdl:part element="tns:getDailyEmail" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVisitAnalyticsByDay">
        <wsdl:part element="tns:getVisitAnalyticsByDay" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVisitAnalyticsByDayResponse">
        <wsdl:part element="tns:getVisitAnalyticsByDayResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPassAnalyticsByDay">
        <wsdl:part element="tns:getPassAnalyticsByDay" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDailyEmailResponse">
        <wsdl:part element="tns:getDailyEmailResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPassAnalyticsByDayResponse">
        <wsdl:part element="tns:getPassAnalyticsByDayResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AnalyticsWebService">
        <wsdl:operation name="getDailyEmail">
            <wsdl:input message="tns:getDailyEmail" name="getDailyEmail"> </wsdl:input>
            <wsdl:output message="tns:getDailyEmailResponse" name="getDailyEmailResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPassAnalyticsByDay">
            <wsdl:input message="tns:getPassAnalyticsByDay" name="getPassAnalyticsByDay"> </wsdl:input>
            <wsdl:output message="tns:getPassAnalyticsByDayResponse" name="getPassAnalyticsByDayResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVisitAnalyticsByDay">
            <wsdl:input message="tns:getVisitAnalyticsByDay" name="getVisitAnalyticsByDay"> </wsdl:input>
            <wsdl:output message="tns:getVisitAnalyticsByDayResponse" name="getVisitAnalyticsByDayResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AnalyticsWebServiceImplServiceSoapBinding" type="tns:AnalyticsWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDailyEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getDailyEmail">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDailyEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPassAnalyticsByDay">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPassAnalyticsByDay">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPassAnalyticsByDayResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVisitAnalyticsByDay">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVisitAnalyticsByDay">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVisitAnalyticsByDayResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AnalyticsWebServiceImplService">
        <wsdl:port binding="tns:AnalyticsWebServiceImplServiceSoapBinding" name="AnalyticsWebServiceImplPort">
            <soap:address location="http://localhost:8080/webservices-module/webservices/AnalyticsWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>